
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    background-color: black;
    color: white;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.left{
    width: 25vw;
    padding: 10px;
}

.right{
    width: 75vw;
}

.home ul li{
    list-style: none;
    width: 15px;
    display: flex;
    gap: 15px;
    padding-top: 15px;
    font-weight: bold;
}

.homeIcon{
    cursor: pointer;
}

.heading{
    width: 100%;
    display: flex;
    gap: 15px;
    padding-top: 15px;
    padding: 23px 14px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
}

.library{
    min-height: 80vh;
    position: relative;
}

.heading img{
    width: 30px;
}

.footer{
    display: flex;
    font-size: 10px;
    color: grey;
    gap: 10px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
}

.footer a{
    color: grey;
}

.right{
    margin: 16px 0;
    position: relative;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(34,34,34);
}

.header > *{
    padding: 20px;
}

.spotifyPlaylists{
    padding: 14px;
}

.cardContainer{
    margin: 30px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 70vh;
}

.card{
    width: 200px;
    border-radius: 5px;
    padding: 10px;
    background-color: #252525;
    position: relative;
    cursor: pointer;
    transition: all 0.6s ease-out;
}

.play{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1ed760;
    position: absolute;
    right: 20px;
    top: 170px;
    opacity: 0;
    transition: all 0.1s ease-out;
    cursor: pointer;
}

.card:hover{
    background-color: rgb(65, 65, 65);
}

.card:hover img {
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
}

.card:hover .play {
    opacity: 1;
    top: 160px;
}

.play:hover{
    opacity: 1;
    width: 45px;
    height: 45px;
}

.card .play{
    padding: 4px 4px 4px 0px;
}

.card > *{
    padding-top: 10px
}

.card img{
    width: 100%;
    object-fit: contain;
}

.buttons > *{
    margin: 0 12px;
}

.signupbtn{
    background-color: rgb(34,34,34);
    color: rgb(156,148,148);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

.signupbtn:hover{
    font-size: 18px;
    color: white;
}

.loginbtn{
    background-color: white;
    color: black;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    width: 78px;
    padding: 10px;
}

.loginbtn:hover{
    font-weight: bold;
    padding: 11px;
}

.playbar{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 30px;
    background-color: #1ed760;
    width: 70vw;
    height: 40px;
    padding: 12px;
    border-radius: 30px;
}

.songbuttons {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px; /* Adjust the gap as needed */
}


.songbuttons img{
    cursor: pointer;
}

.songList {
    height: 544px;
    overflow: auto;
    margin-bottom: 44px;
}

.songList ul{
    padding: 0 12px;
}

.songList ul li{
    list-style-type: decimal;
    display: flex;
    gap: 34px;
    padding: 12px 0px;
}

.songListItem{
    display: flex;
    gap: 12px;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px; 
}

.songListItem:nth-child(even){
    background-color: rgb(34, 34, 34);
}

.songListItem:nth-child(even) .playNow:hover{
    background-color: #121212;
    border-radius: 40px;
}

.playNow{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 20px;
}

.info{
    text-align: center;
}

.playNow:hover{
    background-color: rgb(34, 34, 34);
    border-radius: 40px;
}

.seekbar {
    height: 4px;
    width: 98%;
    background: black;
    border-radius: 10px;
    position: absolute;
    bottom: 1px;
    margin: 12px;
    opacity: 0;
}

.circle{
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background-color: black;
    position: relative;
    bottom: 6px;
    left: 0%;
    transition: left 0.1s;
}

.topPanel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    width: 100%;
    position: relative;
}

.songinfo{
    color: black;
    padding: 0px 20px;
}

.songtime{
    color: black;
    padding: 0px 20px;
}